
.jumbotron {
    background-image: url(../img/cafe.png);
    background-size: 45%;
    background-repeat: no-repeat;
    background-position: center;
    height: 550px;
    margin: 80px 0 0 0;
    border-radius: none;

    p {
        color: #362415;
        font-size: 15px;
    }
}