@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

*{
    box-sizing: border-box;
}
nav{
    background-color: #0b421a;
    
}



.navbar-brand img{
    width: 70px;
    height: 60px;
    
}


.nav-item a{
    font-size: 25px;
    letter-spacing: 3px;
    font-family: 'Lato', sans-serif; 
}

.jumbotron{
    background-image: url(../img/cafe.png);
    background-size: 45%;
    background-repeat: no-repeat;
    background-position: center;
    height: 550px;
    margin: 80px 0 0 0;
    border-radius: none;
}

h1{
    color: #0b421a;
    text-shadow: 0 0 5px #fffcfc;
    font-size: 45px;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
}


.jumbotron p{
    color: 	#362415;
    font-size: 15px;
    
}

h2{
    color: #fffcfc;
    background-color: #0b421a;
    text-transform: capitalize;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
    word-spacing: 5px;
    letter-spacing: 5px;
    text-align: center;
    padding: 15px 0 20px;
    border-bottom: 3px solid #fffcfc;
    margin: 0;

}
.h2__margin{
    margin-top: 100px;
}


.n-left{
    padding-top: 20px;
    height: auto;
    background-color: #0b421a;

}

.n-left p{
    color: white;
    text-align: justify;


}

h3{
    color: #222;
    font-family: 'Barlow', sans-serif;
}
.n-rigth{
    margin: 0px;
    padding: 0;
}

.n-rigth img{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0;
}

.carousel-inner img {
    width: 100%;
    height: 85vh;
    background-size: cover;
    background-position: center;

}

.sec {
    width: 100%;
    margin-top: 90px;
}

.carousel-indicators li{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 2px solid green;
}

.container{
    background-color: #eac784;
    padding: 10px;
}

.container__footer{
	background-color: #0b421a;
	color: white;
	padding-top: 30px;
    text-align: center;
    margin-top: 20px;
}

footer p{
    font-size: 15px;
    color: white;

}

.container__cr{
	text-align: center;
    background-color: gray;
    text-align: center;
    justify-content: center;
}

.container__cr h3{
font-size: 15px;
}

footer a{
	color: white;
}


footer ul{
	padding-left: 5px;
	list-style: none;
	margin: 0;
    display: block;

}

.redes2{
	font-size: 30px;
	display: flex;
    justify-content: center;

}

.nav-item a{
	margin: 0 80px 0 0;
}

.redes2 a{
	margin: 0 10px 0 0;
}

.logo-footer{
    width: 40%;
}

.container-fluid{
    align-items: center;
    margin-top: 10px;
}

.container__img{
    background-size: cover;
    margin-top: 15px;
    
    

}

.h3__espacio{
    color: #eac784;
    font-size: 18px;
    margin: 10px 0 10px 0 ;
    font-style: unset;
}
.h3_slogan{
    color: #eac784;
    font-size: 15px;
    margin: 10px 0 10px 0 ;
    font-weight: 900;
}